body {
    background-color: #d5e1ef;
    height: 100vh;
  }
  div {
    width: 320px;
    height: 497px;
    background-color: white;
    border-radius: 20px;
    padding: 16px;
    margin: auto;
  }
  img {
    max-width: 100%;
    border-radius: 10px;
  }
  h1 {
    color: #1f314f;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    font-family: "Outfit";
    margin: 35px;
  }

  p {
    color: #7d889e;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin: 35px;
  }